body{
    padding: 0;
    margin: 0;
}
/* header start */
#header{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: sticky;
    top: 0;
    height: 50px;
    padding: 8px 128px;
}
.nav-header a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    
}
/* header end */

/* Section 1 Start */
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    gap: 0 250px;
    padding: 120px 178px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-button{
   padding-top: 10px;
}
.about-button a{
    padding: 8px 32px;
    text-decoration: none;
    color: black;
    border-radius: 25px;
}

.about-button .button-kanan{
    border: 2px solid #FFC108;
    
}
.about-button .button-kiri{
    background: #FFC108;
    margin-left: 10px;
    color: white;
}
.img-about{
    height: 250px;
}
/* Section 1 End */

/* Section 2 Start */
#project{
    padding: 100px 178px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    gap: 0 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.19);
    font-size: 20px;
}
.img-project{
    height: 400px;
}
.about-project{
    display: flex;
    column-gap: 60px;
    padding: 0;
}
.about-status-project div{
    padding: 2px;
    background: yellow;
}
/* Section 2 End */

/* Section 3 Start */
.service-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 148px;
}
.service-nav a{
    text-decoration: none;
    color: white;
    background-color: #FFC108;
    padding: 10px 20px;
    border-radius: 12px;
}
.service-detail{
    padding: 30px 128px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 120px;
    row-gap: 50px;
}

.service-detail-item{
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

/* Section 3 End */

/* footer Start */
#footer{
    background: black;
    color: white;
    padding: 40px 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-footer a{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    margin: 5px 0px;
}
.nav-footer-item{
    background: white;
    color: black;
}
/* footer End */